.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding-top: 110px;
  overflow: hidden;
  //background: url(/public/imgs/bg.jpg) no-repeat center center;
  background: radial-gradient(rgb(31, 202, 217), var(--primary-color));
  background-size: cover;

  .LoginTitle {
    width: 100%;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
  }

  .LoginLine {
    width: 60%;
    height: 2px;
    margin: 20px 0;
    background-color: var(--be-common-02-color);
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .LoginFormBox {
    width: 25vw;
    padding: 50px 100px;
    background: var(--primary-bg-color);
    border-radius: 20px;
  }

  .LoginBtn {
    width: 100%;
    height: 40px;
    border-radius: 7px;
  }

  .LoginInput {
    height: 40px;
    padding-left: 10px;
    border-radius: 7px;
  }

  @media (max-width: 600px) {
    .LoginFormBox {
      width: 65vw;
    }
  }
}
