.HomeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: var(--header-height);
  padding: 5px 20px;
  background: linear-gradient(
    to right,
    #fff,
    var(--primary-color),
    var(--primary-color),
    var(--primary-color)
  );

  .HomeHeaderLeft {
    width: 300px;
    color: var(--primary-color);
    font-size: 18px;
    cursor: pointer;

    .HomeHeaderTitle {
      display: flex;
      align-items: center;
      color: var(--primary-color);
      font-weight: bold;
      font-size: 17px;

      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }

  .HomeHeaderRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    color: #fff;
    text-align: right;
    cursor: pointer;

    .HomeHeaderIntlBox {
      color: #fff;
      font-size: 18px;
    }
  }
}
